<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.wemedia.mapper.WmNewsMaterialMapper">


    <!--绑定文章和内容素材、封面素材的关系-->
    <insert id="saveNewMaterialIds">

        INSERT INTO leadnews_wemedia.wm_news_material (material_id,news_id,type) VALUES

        <!--
        collection: 需要遍历的元素
        item: 每个元素的别名
        separator: 分隔符
         -->
        <foreach collection="materialIds" item="materialId" separator=",">
            (#{materialId},#{newsId},#{type})
        </foreach>


    </insert>
</mapper>